@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;500;600&display=swap');
/* reset */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}
*,*::before, *::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000000;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
li, ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal;
}
/* header */
#header {
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
#header h1 {
    margin-bottom: 10px;
}
#header a {
    color: #fff;
}
#header p {
    display: inline-block;
}
#header li {
    display: inline-block;
}
#header li a {
    width: 0px;
    height: 0px;
    border-bottom: 28px solid ;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
  }
/* footer */
#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px;
}
#footer a{
    color: #fff;
}
